/* product-dialog.component.css */
.product-dialog {
    padding: 20px;
  }
  
  .product-details {
    text-align: left;
  }
  
  .product-details h2 {
    font-size: 24px;
    line-height: 50px;
  }
  
  .description {
    font-style: italic;
    margin-bottom: 20px;
  }
  
  .details-container p {
    margin: 15px 0;
  }
  
  .details-container strong {
    margin-right: 5px;
  }

  .product-image{
    width: 40%;
    margin: 0px 10px 35px 10px;
    padding: 20px 30px;
    border-radius: 10px;
    background: #d1d1d1;
  }

  mat-toolbar div{
    width: 99%;
  }

  mat-toolbar{
    background-color: #f75151;
    color: white;
  }

  mat-icon{
    cursor: pointer;
  }
  
  @media screen and (max-width: 600px) {
    .product-dialog {
      padding: 10px;
    }
    .details-container p {
        font-size: 0.8em;
        margin: 8px 0;
      }
  }
  