//universal selector
* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1850px;
  margin: auto;
  font-family: system-ui;
}

// common style with tags
section h1 {
  color: white;
  font-size: 45px;
  line-height: 65px;
  font-weight: bold;
  font-family: unset;
}

section p {
  font-size: 24px;
  color: white;
  line-height: 45px;
  font-weight: 400;
}

section h2 {
  text-align: center;
  font-size: 40px;
  margin: 55px 0px 45px;
  font-weight: 500;
}



// styles for nav menu

.mobile-menu {
  display: none;
}

.heading-title {
  font-weight: 500;
  font-size: 24px;
  position: relative;
  top: 6px;
  left: 20px;
  font-family: system-ui;
}

ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

ul li a {
  font-size: 20px;
  font-weight: 400;
}

li :hover {
  cursor: pointer;
  color: #f75151;
}

li {
  margin: 15px 0px;
  padding: 10px;
}

.menu {
  padding: 10px 0px;
  background-color: white;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-button {
  padding: 6px 12px 4px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0px 20px;
  background: white;
  transform: scale(1.5) !important;
}

.menu-button mat-icon {
  color: black;
  transition: transform 0.5s ease-in-out;
}

.close-icon mat-icon {
  transform: rotate(180deg);
}

.search-field {
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  background: #eaeaea;
  color: black;
}

.large-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
  white-space: nowrap;
}


/* menu for mobile */
@media only screen and (max-width: 960px) {


  .menu {
    background-color: white;
  }

  ul {
    display: block;
    text-align: center;
  }

  ul li a {
    font-size: 18px;
  }

  li :hover {
    padding: 6px 45px;
  }

  .mobile-menu {
    display: flex;
    flex-direction: row;
    place-content: stretch space-between;
    align-items: center;
  }

  .hide-desktop-menu {
    display: none;
  }

  .search-field,
  .large-title {
    display: none;
  }

  //styles savings and gifts.
  section .banner-container {
    flex-direction: column;
  }

  .shop-container {
    display: flex;
  }

}

// styles for landing page

section .whole-container {
  display: flex;
  align-items: center;
  place-content: space-between;
  background-color: #f3f3f3c2;
  padding: 35px 75px;
}


.customize-btn {
  padding: 30px 55px;
  margin: 45px 0px;
  background: #f75151 !important;
  color: white !important;
  font-size: 24px;
  border-radius: 10px;
}

.customize-btn:hover {
  background: white !important;
  color: #f75151 !important;
  border: 1px solid #f75151;
}

.content {
  color: black !important;
}



//styles for product section


.product-container {
  display: flex;
  overflow: auto;
  justify-content: space-evenly start;
  margin: 0px 15px;
}

.product-title-container {
  margin: 0px 40px;
}



.actual-price {
  text-decoration: line-through;
  color: rgb(88, 88, 88) !important;
}

.box {
  background-color: #e9e9e9;
  margin: 10px 25px;
  padding: 15px 25px;
  border-radius: 10px;
  display: inline-block;
}

.discount {
  background: #ff0000a6;
  padding: 10px 16px;
  border-radius: 10px;
  color: white;
  margin: 10px 0px;
}

.star-icon {
  color: gold;
}

.liked {
  color: red;
}

.box img {
  margin: 25px;
}

.price-details {
  display: flex;
  justify-content: space-between start;
  flex-direction: column;
  margin: 30px 0px 15px;
  gap: 10px;
}

strong {
  margin: 0px 10px;
}

.price-details p {
  color: black;
  font-size: 18px;
  text-align: left;
  white-space: nowrap;
  font-weight: 500;
  margin: -5px 10px;
}

.price-details p span {
  color: #f75151;
}

// savings & Gift section styles

section .banner-container {
  margin: 20px;
  padding: 50px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.banner-container img {
  margin: 40px;
}

.buy-btn,
.more-btn {
  border-radius: 10px;
  margin: 30px 30px 0px 0px;
  padding: 30px 50px;
  font-size: 24px;
  cursor: pointer;
}

.slide-mobile-btn-container {
  display: none;
}

//saving section

section #saving-mode {
  background-color: #474859;
}

#s-btn {
  background-color: #737373 !important;
  color: white !important;
}


#s-m-btn {
  background-color: white !important;
  color: black !important;
}

#s-btn:hover {
  background-color: white !important;
  color: #737373 !important;
}


#s-m-btn:hover {
  background-color: #737373 !important;
  color: white !important;
}

//shopping policy section

.policy-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.policy-details p {
  text-align: center;
  color: black;
  font-weight: bold;
}

.description-text {
  font-weight: 400 !important;
}

//gift section

section #gift-mode {
  background-color: #6929a5;
}

#g-btn {
  background-color: white !important;
  color: #6929a5 !important;
}


#g-m-btn {
  background-color: #a678d3a3 !important;
  color: white !important;
}

#g-btn:hover {
  background-color: #a678d3a3 !important;
  color: white !important;
}


#g-m-btn:hover {
  background-color: white !important;
  color: #6929a5 !important;
}


// styles for testimonial section 

.testimonial-container {
  background-color: white;
  margin: 50px;
  padding: 20px;
  box-shadow: rgb(202 202 202) 0px 0px 15px;
}

.slide-btn {
  height: 125px;
  background: #f75151;;
  border: 1px solid #f75151;;
  border-radius: 5px;
  margin: 25px;
  padding: 10px;
  cursor: pointer;
}

.slide-btn mat-icon {
  color: white;
}

.quote-icon {
  transform: scale(2.5);
  margin: 20px;
}

.content-container {
  margin: 20px;
  padding: 15px;
}


.test-words {
  color: black !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  text-align: left;
}

.test-title {
  font-weight: bold !important;
  color: rgb(105, 105, 105) !important;
}

.test-name {
  color: #f75151 !important;
  font-weight: bold !important;
  text-align: left;
  font-size: 35px !important;
}

//styles for contact section 

.contact-section {
  background-color: black;
  padding: 45px;
}

.email-field {
  padding: 20px;
  border-radius: 5px;
}

footer p {
  color: rgb(196, 196, 196);
  text-align: left;
  line-height: 36px;
  font-size: 22px;
}

footer h2 {
  font-size: 30px;
  line-height: 50px;
  color: white;
}

footer mat-icon {
  color: white;
  position: relative;
  top: 6px;
  left: -8px;
}

footer svg {
  color: white;
  margin: 45px 0px;
  transform: scale(1.5);
}

.contact-img {
  width: 450px;
  height: 300px;
}

.footer-whole-container div {
  margin: 25px;
}



//styles for mobile view

@media screen and (max-width: 680px) {



  .customize-btn {
    padding: 15px 25px;
    margin: 25px 0px;
    font-size: 14px;
  }

  .home-image {
    height: 320px;
  }

  a mat-icon {
    margin: 10px;
    transform: scale(1);
  }

  section .whole-container {
    flex-direction: column;
    gap: 25px;
  }

  section h1 {
    text-align: left;
    font-size: 30px;
    line-height: 45px;
  }

  section p {
    text-align: left;
    font-size: 16px;
    line-height: 30px;
  }

  section h2 {
    font-size: 25px;
    margin: 25px 0px;
    font-weight: 500;
  }

  .price-details p {
    font-size: 15px;
    line-height: 20px;
    margin: 10px;
  }

  .price-details {
    margin: 0px 0px 10px;
  }

  .box {
    margin: 0px 15px;
    padding: 10px 20px;
  }

  .buy-btn,
  .more-btn {
    margin: 15px 30px 0px 0px;
    padding: 18px 25px;
    font-size: 12px;
  }

  section h1 {
    font-size: 24px;
    line-height: 35px;
  }

  section .banner-container img,
  .contact-img {
    height: 145px;
  }

  .banner-container img {
    margin: 0px;
  }

  .contact-img {
    height: 150px;
    width: 175px;
  }

  .quote-icon {
    transform: scale(1.5);
  }

  .test-words {
    font-size: 14px !important;
    line-height: 25px !important;
  }

  .content-container {
    margin: 15px;
    padding: 0px;
  }

  .contact-section {
    margin: 0px;
    padding: 30px;
  }

  .email-field {
    padding: 10px;
    border-radius: 5px;
    width: 145px;
    margin-right: 25px;
  }

  section .whole-container {
    padding: 25px 30px;
  }

  .slide-btn {
    display: none;
  }

  .slide-mobile-btn {
    margin: 10px 20px;
    padding: 5px;
    border-radius: 5px;
    background: #f75151;
    color: white;
    border: 1px solid;
  }

  .slide-mobile-btn-container {
    flex-direction: row;
    display: flex;
    place-content: center;
    align-items: center;
    margin-top: -30px;
    margin-bottom: 35px;
  }

  .quote-icon {
    display: none;
  }

  .footer-whole-container div {
    margin: 8px;
  }

  footer p {
    line-height: 30px;
    font-size: 16px;
    text-align: center;
  }

  footer h2 {
    font-size: 22px;
    line-height: 30px;
    color: white;
    text-align: center;
  }

  .letter-container {
    display: flex;
    align-items: center;
    place-content: center;
    flex-direction: column;
  }
}


//styles for tablet and mini laptop.

@media screen and (min-width: 681px) and (max-width: 1200px) {

  .slide-mobile-btn-container {
    display: none !important;
  }

  a mat-icon {
    margin: 5px 15px;
    transform: scale(1.3);
  }

  section p {
    text-align: left;
    font-size: 20px;
    line-height: 40px;
  }


  .customize-btn {
    padding: 23px 35px;
    margin: 25px 0px;
    font-size: 17px;
  }

  .home-image {
    height: 420px;
  }

  section .whole-container {
    padding: 15px 30px;
  }

  section .whole-container {
    flex-direction: column;
  }

  section h1 {
    text-align: left;
    font-size: 40px;
    line-height: 65px;
  }

  section h2 {
    font-size: 28px;
    margin: 35px 0px 15px;
    font-weight: 500;
  }

  .price-details p {
    font-size: 20px;
    margin: 15px 0px;
    line-height: 28px;
  }


  .buy-btn,
  .more-btn {
    margin: 20px 30px 0px 0px;
    padding: 25px 45px;
    font-size: 16px;
  }

  section .banner-container img,
  .contact-img {
    height: 265px;
    margin: 25px;
  }

  .contact-img {
    margin: 10px 0px;
    width: 280px
  }

  .quote-icon {
    transform: scale(2);
  }

  .test-words {
    font-size: 16px !important;
    line-height: 30px !important;
  }

  .email-field {
    padding: 15px;
    border-radius: 5px;
    width: 175px;
    margin: 5px 35px 0px 0px;
  }

  footer p {
    line-height: 30px;
    font-size: 17px;
  }
  .content-container {
    margin: 15px;
    padding: 0px;
  }

  .contact-section {
    margin: 0px;
    padding: 30px;
  }

  .footer-whole-container div {
    margin: 10px;
  }
}