<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" closed>

    <mat-toolbar>
      <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon id="side-nav-icon" class="menu-icon">menu</mat-icon>
        </button>
        <mat-icon class="close-icon" (click)="sidenav.close()">close</mat-icon>
      </div>
    </mat-toolbar>


    <mat-nav-list>
      <a mat-list-item routerLink="account" (click)="sidenav.close()">
        <mat-icon>account_circle</mat-icon> My Account
      </a>
      <a mat-list-item routerLink="products" (click)="sidenav.close()">
        <mat-icon>storefront</mat-icon> Products
      </a>
      <a mat-list-item routerLink="cart" (click)="sidenav.close()">
        <mat-icon>shopping_cart</mat-icon> Cart
      </a>
      <a mat-list-item routerLink="orders" (click)="sidenav.close()">
        <mat-icon>assignment</mat-icon> My Orders
      </a>
      <a mat-list-item (click)="openLogout()">
        <mat-icon>logout</mat-icon> Logout
      </a>
      
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar>
      <button *ngIf="!sidenav.opened" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon class="menu-icon">menu</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>


  </mat-sidenav-content>

</mat-sidenav-container>