<div class="whole-container">
    <div class="inner-container">
      <div fxLayout="row" fxLayoutAlign="center center">
        <button class="signup-btn" (click)="showSignupPage()">SignUp</button>
        <button class="login-btn" (click)="showLoginPage()">Login</button>
      </div>
  
      <div class="image-content-container">
        <img [src]="loginCart" width="40%" height="40%" class="login-cart">
        <div *ngIf="signupPage">
          <form [formGroup]="signupForm">
            <div fxLayout="column">
              <mat-form-field appearance="outline">
                <mat-label>What Should we call you?</mat-label>
                <input matInput placeholder="Enter your profile name" formControlName="profile">
                <mat-error *ngIf="signupForm.controls['profile'].hasError('required')">
                  UserName field required
                </mat-error>
                <mat-error *ngIf="signupForm.controls['profile'].hasError('pattern')">
                  UserName field should contain only alphabet with space
                </mat-error>
              </mat-form-field>
  
              <mat-form-field appearance="outline">
                <mat-label>What's your email?</mat-label>
                <input matInput placeholder="Enter your email id" formControlName="email" (blur)="checkValidation(signupForm.controls['email'].value)">
                <mat-error *ngIf="signupForm.controls['email'].hasError('required')">
                  Email address required
                </mat-error>
                <mat-error *ngIf="signupForm.controls['email'].hasError('email')">Invalid Email address</mat-error>
                <mat-error *ngIf="signupForm.controls['email'].hasError('emailExists')">Email Id already taken</mat-error>
              </mat-form-field>
  
              <mat-form-field appearance="outline">
                <mat-label>Create a Password</mat-label>
                <input matInput placeholder="Enter Your Password" formControlName="passcode" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix style="cursor: pointer;" (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                <mat-error *ngIf="signupForm.controls['passcode'].hasError('required')">Password field required</mat-error>
                <mat-error *ngIf="signupForm.controls['passcode'].hasError('pattern')">
                  Password must have at least 8 chars with 1 uppercase, 1 special char, and 1 number.
                </mat-error>
              </mat-form-field>
  
              <p class="agreement-content">
                By creating an account,you agree to the <strong>Term Use</strong> and <strong>Privacy Policy</strong>
              </p>
  
              <button class="account-button" *ngIf="showSignupButton" (click)="signUp()">Create a account</button>
  
              <div *ngIf="loader" fxLayout="row" fxLayoutAlign="center center">
                <mat-spinner diameter="30" class="loader"></mat-spinner>
              </div>
            </div>
          </form>
        </div>
  
        <div *ngIf="loginPage">
          <form [formGroup]="loginForm">
            <div fxLayout="column" class="login-form-container">
              <div class="alert" *ngIf="showAlert">Invalid Login Credentials</div>
  
              <mat-form-field appearance="outline">
                <mat-label>Email address</mat-label>
                <input matInput placeholder="Enter your email address" formControlName="userName">
                <mat-error *ngIf="loginForm.controls['userName'].hasError('required')">Email address required</mat-error>
                <mat-error *ngIf="loginForm.controls['userName'].hasError('email')">Invalid Email address</mat-error>
              </mat-form-field>
  
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter Your Password" formControlName="password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix style="cursor: pointer;" (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Password field required</mat-error>
              </mat-form-field>
  
              <div fxLayout="row" fxLayoutAlign="end">
                <p>Forgot your password?</p>
              </div>
  
              <button class="account-button" *ngIf="showLoginButton" (click)="login()">Login</button>
  
              <div *ngIf="loader" fxLayout="row" fxLayoutAlign="center center">
                <mat-spinner diameter="30" class="loader"></mat-spinner>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  