<body>
<div fxLayout="row" fxLayoutAlign="center center">
  <div class="confirmation-container">
    <mat-icon class="success-icon">check_circle</mat-icon>
    <p class="confirmation-message">Your order has been successfully placed!</p>
    <div *ngIf="shippingDetails" class="order-details">
      <p><strong>Order ID:</strong> {{ shippingDetails.orderId }}</p>
      <p><strong>Order Date:</strong> {{ shippingDetails.purchaseDate }}</p>
      <p><strong>Shipping Address:</strong> {{ shippingDetails.orderAddress.address }} {{ shippingDetails.orderAddress.city }}</p>
      <p><strong>Country:</strong> {{ shippingDetails.orderAddress.country }}</p>
      <p><strong>Phone Number:</strong> {{ shippingDetails.orderAddress.phoneNumber }}</p>
      <p><strong>Mode of Payment:</strong> {{ shippingDetails.orderAddress.paymentMode }}</p>
      <p><strong>Total Amount:</strong> ${{ shippingDetails.totalCost }}</p>
      <p><strong>Estimated Delivery:</strong> {{ shippingDetails.estDeliveryDate }}</p>
    </div>
    <div class="back-to-home">
      <button (click)="navigateBack()">Back to Home</button>
    </div>
  </div>
</div>
</body>