body {
    max-width: 1850px;
    margin: auto;
    font-family: system-ui;
}

section h5 {
    font-size: 30px;
    line-height: 95px;
    font-weight: 500;
}

.radio-label,
section h6 {
    font-size: 30px;
    line-height: 75px;
    font-weight: 300;
}

input[type="radio" i] {
    margin: 0px 30px;
    transform: scale(2);
    position: relative;
    top: -3px;
    left: 6px;
    cursor: pointer;
}

section p {
    font-size: 1.5rem;
    line-height: 40px;
    font-weight: 400;
    font-family: system-ui;
    text-align: left;
}

.cart-container {
    margin: 40px;
    padding: 20px;
    border: 1px solid #a5a5a5;
    box-shadow: rgb(202 202 202) 0px 0px 15px;
    border-radius: 10px;
}

.cart-c {
    width: 20%;
    display: contents;
}

.product-image {
    width: 10%;
    background: rgb(152 152 152 / 19%);
    padding: 15px 20px;
    border-radius: 15px;
}

.title {
    color: #a2a2a2;
}

.value {
    color: black;
}


#total-label {
    color: red;
}

#total-value {
    color: #f75151;
}

.like-button {
    padding: 14px;
    background: transparent;
    margin: 0px 20px;
    border: none;
}

.remove-button {
    background: #f04b4b;
    font-size: 22px;
    padding: 16px 20px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.remove-button:hover {
    background: transparent;
    color: #f04b4b;
    border: 1px solid #f04b4b;
}

.cont-1 {
    border: 1px solid rgb(179, 179, 179);
    margin: 30px;
    box-shadow: rgb(202 202 202) 0px 0px 15px;
    padding: 35px;
    border-radius: 30px;
}

.purchase-btn,
.shop-btn {
    margin: auto;
    width: 60%;
    padding: 25px 105px;
    font-size: 22px;
    border: none;
    border-radius: 10px;
}

.shop-btn {
    background: transparent;
    color: black;
    border: 1px solid;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
}

.shop-btn:hover {
    background: rgb(58, 58, 58);
    color: white;
}

.purchase-btn {
    background: #f75151;
    color: white;
    cursor: pointer;
    border: 1px solid #f75151;
}

.purchase-btn:hover {
    background: transparent;
    color: #f75151;
}

.list-product-container {
    max-height: 650px;
    overflow-y: auto;
}

#like-icon {
    transform: scale(1.5);
    margin: 0px 30px;
    cursor: pointer;
}

mat-form-field {
    width: 100%;
    margin: 10px;
}


.remove-icon-button {
    display: none;
}

#remove-icon-button {
    display: none;
}

.divider {
    border: 1px solid rgb(148, 148, 148);
    width: 100%;
    margin: 15px 0px;
}

mat-error {
    margin-left: -15px;
    margin-top: 3px;
    font-size: 13px;
    font-weight: 500;
}

//styles for mobile
@media only screen and (max-width:680px) {

    .cart-container {
        margin: 15px;
        padding: 20px
    }

    section h5 {
        font-size: 20px;
        line-height: 55px;
    }

    .title,
    .value {
        font-size: 12px !important;
        line-height: 20px !important;
        font-weight: 700;
    }

    .radio-label,
    section h6 {
        font-size: 16px;
        line-height: 35px;
        color: #a0a0a0;
        font-weight: 400;
    }

    section p {
        font-size: 0.8rem;
        line-height: 34px;
        font-weight: 700;
    }

    #total-label,
    #total-value {
        font-size: 18px;
        font-weight: 500;
    }

    .purchase-btn,
    .shop-btn {
        padding: 15px 25px;
        font-size: 15px;
        line-height: 20px;
    }

    .product-image {
        margin: 10px;
        padding: 10px;
        width: 45px;
    }

    .remove-button {
        font-size: 9px;
        padding: 6px 10px;
        margin: 0px 10px;
        transform: scale(0.8);
    }

    .like-button {
        display: none;
    }

    input[type="radio" i] {
        margin: 15px;
        position: relative;
        top: 0px;
        left: 4px;
        transform: scale(1.5);
    }

    #remove-icon-button {
        display: block;
        background-color: rgb(255 68 68);
    }

    .remove-button {
        display: none;
    }
}


//style for tablet
@media only screen and (min-width:681px) and (max-width:1200px) {

    .product-image {
        margin: 18px;
    }

    section p {
        font-size: 1rem;
        line-height: 27px;
        font-weight: 600;
    }

    .remove-button {
        font-size: 18px;
        padding: 15px 30px;
    }

    #like-icon {
        transform: scale(1.2);
        margin: 0px 15px;
    }

    section h5 {
        font-size: 28px;
        line-height: 90px;
    }

    .radio-label,
    section h6 {
        font-size: 22px;
        line-height: 45px;
        color: #787878;
        font-weight: 500;
    }

    #total-label,
    #total-value {
        font-size: 26px;
        font-weight: 500;
        line-height: 60px;
    }

    .purchase-btn,
    .shop-btn {
        padding: 20px 80px;
        font-size: 20px;
        line-height: 20px;
    }


    .cart-c {
        width: 20%;
        display: block;
    }

    input[type="radio" i] {
        transform: scale(1.5);
        margin: 0px 20px;
    }
}

@media only screen and (min-width:1201px) {

    .cont-1 {
        max-width: 55%;
        margin: auto;
        margin-bottom: 50px;
    }
}

.liked {
    color: red;
}