<body>

<nav>

    <div class="handle-view-container">
        <mat-icon>shopping_basket</mat-icon>
        <h2>All Products</h2>
    </div>

    <div class="search-container">
        <input type="text" placeholder="Search Products" (keyup)="serachProduct(product.value)" #product>
        <select>
          <option>Men Wear</option>
          <option>Women Wear</option>
          <option>Phone</option>
          <option>Laptop</option>
          <option>Tv</option>
        </select>
        <button>
          <mat-icon class="search-icon">search</mat-icon>
        </button>
      </div>      


    <div class="cart-container">
        <mat-icon (click)="navigateHome()" class="right-side-icon">home</mat-icon>
        <mat-icon class="cart-icon"  (click)="navigateCart()">shopping_cart</mat-icon>
        <span class="cart-count" >{{ cartCount }}</span>
      </div>
      
</nav>

<section>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="box" *ngFor="let product of listProducts">
        <img [src]="product.image" width="150px" class="product-image">
        <div class="price-details">
          <p>{{product.name}}</p>
          <p>price <span>{{product.price}}</span></p>
          <button mat-raised-button color="warn"(click)="addToCart(product)" class="add-cart-btn">Add Cart</button>
        </div>
      </div>
    </div>
</section>

</body>